
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;1,400;1,500;1,600;1,700;1,800&display=swap');

.row {
    display: flex;
    line-height: 1.68;
  }

.column {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  

h2 {
    font-family: 'Work Sans', sans-serif ;
    font-weight: 800;
    font-size: 60px;
    color: red;
    letter-spacing: 4px;
    display: inline-block;
    line-height: 100px;
    margin-top: -10px;
    margin-bottom: -10px;
}

h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: blue;
    letter-spacing: 3px;
    text-transform: uppercase;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
    padding-right: 80px;
}

